.row {
    margin: 40px;
}

.secondRow {
    margin:40px;
}

.primSearch {
    margin:20px;
}

.packageType {
    margin:20px;
}

.button {
    display: block;
    margin-left: auto;
     margin-right: auto;
}